<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byType">
	
	<import resource="databaseContext.xml"/>
	
	<bean id="readChartFile" class="de.guerz.utils.ReadChartFile" />
	
	<bean id="chartDAO" class="de.guerz.dao.ChartDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="chartApp" class="de.guerz.gui.ChartApp">
		<property name="chartDAO" ref="chartDAO" /> 
		<property name="readChartFile" ref="readChartFile" /> 
    </bean>

	
</beans>
