<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">


    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>

    <logger name="de.guerz">
        <level value="debug"/>
    </logger>

    <!-- log SQL statements (same as show_sql=true) -->
    <logger name="org.hibernate.SQL">
        <level value="debug"/>
    </logger>
    <!-- log parameter binding -->
    <logger name="org.hibernate.type">
        <level value="debug"/>
    </logger>
    <!-- log ddl statements -->
    <logger name="org.hibernate.tool.hbm2ddl">
        <level value="debug"/>
    </logger>
    <!-- hibernate -->
    <logger name="org.hibernate">
        <level value="debug"/>
    </logger>

    <root>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
